extends base
block title
	| Главная
block main
	br
	.container
		.row
			.col-3
				form(action="/user" method="post" name="dataForm").form
					.form-group
						label(for="example") Данные
						input(type="text" name="programName" required=1).form-control#example
					button(type="submit").btn.btn-primary Отправить
			.col-6.offset-3
				table(width="100%" cellpadding="5")
					for row in listener
						tr(id="row-"+row.id)
							td
								+card(row)
							td(width="16px")
								input(dataid=row.id type="image" src="img/delete.png" onclick="del("+row.id+")").delete
							td(width="16px")
								input(dataid=row.id type="image" src="img/ed.png" onclick="edit("+row.id+")")
