extends base
block title
	| Главная
block main
	br
	.container
		.row
			.col-3
					.form
						.form-group
							label(for="example") Программа
							input(type="text").form-control#example
						button(type="submit").btn.btn-primary Отправить
			.col-6.offset-3
				for row in listener
					+card(row)
