extends base
block title
	| Главная
block main
	br
	.container
		.row
			.col-4
				.form
					.form-group
						label(for="example1") Данные 1
						input(type="text").form-control#example1
					.form-group
						label(for="example2") Данные 2
						input(type="text").form-control#example2
					button(type="submit").btn.btn-primary Отправить
