extends base
block title
	| Главная
block main
	br
	.container
		.row
			.col-3
				form(action="/user" method="post" name="dataForm").form
					.form-group
						label(for="example") Данные
						input(type="text" name="programName").form-control#example
					button(type="submit").btn.btn-primary Отправить
			.col-6.offset-3
				table(width="100%" cellpadding="5")
					for row in listener
						tr
							td
								+card(row)
							td(width="16px")
								input(type="image" src="img/delete.png")
							td(width="16px")
								input(type="image" src="img/ed.png")
